<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershi.bibackend.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="com.ershi.bibackend.model.entity.Chart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="goal" column="goal" jdbcType="VARCHAR"/>
            <result property="chartData" column="chartData" jdbcType="VARCHAR"/>
            <result property="chartType" column="chartType" jdbcType="VARCHAR"/>
            <result property="genChart" column="genChart" jdbcType="VARCHAR"/>
            <result property="genResult" column="genResult" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,goal,chartData,
        chartType,genChart,genResult,userId,
        createTime,updateTime,isDelete
    </sql>

    <insert id="createTable">
        CREATE TABLE ${tableName} (
        <foreach collection="columns" index="columnName" item="columnType" separator=",">
            ${columnName} ${columnType}
        </foreach>
        );
    </insert>

    <insert id="insertData">
        INSERT INTO ${tableName} VALUES
        <foreach collection="data" item="row" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <foreach collection="row.values()" item="value" separator=",">
                    #{value}
                </foreach>
            </trim>
        </foreach>
    </insert>

</mapper>
